{% csrf_token %}
{% load static %}

<style>
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: rgb(223, 233, 235);
    {% comment %} background-image: url('../img/background'); {% endcomment %}
    {% comment %} background-image: url('../img/background image.png'); {% endcomment %}
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
form{
    background-color: white;
    padding: 5px;
    justify-content: center;


}
.container{
    display:flex;
    justify-content: center;
    overflow: auto;
    padding: 10px;
}
.header{
    {% comment %} text-align: center;
    margin-bottom: 20px;
    color: red; {% endcomment %}
    {% comment %} padding: 20px; {% endcomment %}
    margin-bottom: 20px;
    color: red;
    text-align: center;
}
.b2{
    float: left;
    text-align: left;
    padding: 5px;
    {% comment %} width:45%; {% endcomment %}
    line-height: 25px;
    {% comment %} line-height: 25px;
    padding: 10px;
    text-align: left;
    float: left;        {% endcomment %}
}
.b3{
    line-height: 25px;
    padding: 5px;
    text-align: right;
    float: right;


    {% comment %} float: right;
    text-align: right;
    padding: 5px;
    width: 30%;
    line-height: 25px;   {% endcomment %}

    {% comment %} line-height: 25px;
    padding: 10px;
    text-align: right;
    float: right; {% endcomment %}
}
img {
    float: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 10%;


    {% comment %} float: center;
    margin: 10 10px;
    width: 20%; {% endcomment %}
    
    {% comment %} display: block;
    margin: 0 auto; {% endcomment %}
    {% comment %} margin: -13px;
    padding: 5px;
    width : 20%;
    height: 20%; {% endcomment %}
}

.right{
    float: right;
    width: 33%;
}

.L1{
    padding-top: 10px;
    padding-bottom: 10px;
}
.L2{
    padding-top: 5px;
    padding-bottom: 5px;
}
.complain{
    
    padding-top: 5px;
    padding-bottom: 5px;
}
.bp{
    padding-top: 5px;
    padding-bottom: 5px;
}

.advice{
    padding-top: 5px;
    padding-bottom: 5px;
}

.table{
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px solid black;
    text-align: center;
    float: left; 
    margin-left: 31px;
}

.payment{
    
    padding-top: 5px;
    padding-bottom: 10px;
    display: flexbox;
    border: 0px solid black;
    

}
</style>

<form>

    <div class=" header">
        <h1><u>NAVJEEVAN HEALTH CENTER</u></h1>
    </div>

    <div class=" container">            <!--*************************__________section-1__________**************************-->
        {% comment %} <div class=" header">
            <h1><u>NAVJEEVAN HEALTH CENTER</u></h1>
        </div> {% endcomment %}

        {% comment %} <img src="{% static 'img/dr logo.png' %}" alt="logo"> {% endcomment %}
        <div class="b2">
            <tr>
                <th><h3>DR. A.G. GUPTA</h3></th>
                <th><h3>M.B.B.S.(MUM.)</h3></th>
                <th><h3>C.C.H.,C.G.O.(MUM.)</h3></th>
                <th><h3>P.G.D.C.R.A.,P.G.D.M.L.C.(MUM.)</h3></th>
                <th><h3>CCEB.DM. (DIABETOLOGIST.)</h3></th>
            </tr>
        </div>
        <img src="{% static 'img/dr logo.png' %}" alt="logo">
        <div class="b3">
            <tr>
                <th><h3>DR. U.S. GUPTA</h3></th>
                <th><h3>B.A.M.S.(MUM.)</h3></th>
                <th><h3>C.C.H.,C.G.O.(MUM.)</h3></th>
                <th><h3>MOBILE NO: -7977008341</h3></th>
                <th><h3><b><span style="color: red;">Date: </span></b>{{patient.date}}</h3></th>
            </tr>
        </div>  
    </div>
    <br>
    
    <div class="a2">                <!--*************************__________section-2__________**************************-->

        <hr style="background-color: black;height: 0.8px;border-width: 0;">

        <p style="text-align: center;padding-top: 5px;"><b><span style="color: red;">ADDRESS</span></b>:-SHOP NO 13. L/6 WARD, DINDOSHI BMC COLONY, SANTOSH </p>
        <p style="text-align: center;padding-bottom: 5px;">NAGAR, GOREGAON(EAST).MUMBAI:-400065.</p>

        <hr style="background-color: black;height: 0.8px;border-width: 0;">

    </div>

    <div class="a3">                <!--*************************__________section-3__________**************************-->

        <div class="L1">                       <!--*************************__________section-3(line_1)__________**************************-->
            <b><span style="color: red; float: left; margin-left: 31px;">ID : </span> {{patient.id}} </b>
            <b style="float: right; margin-right: 30px;"> <span style="color: red;">CONTACT NO : </span> {{patient.mobile_number}} </b>

        </div>

        <h3 style="color: red;text-align: center;"><u>*ALL TYPES OF BLOOD TEST/VACCINE DONE HER*</u></h3>

        <br>

        <div class="L2">                       <!--*************************__________section-3(line_2)__________**************************-->
            <b><span style="color: red; float: left; margin-left: 31px;">NAME : </span>{{patient.name}}</b>
            <b><span style="color: red;">AGE : </span>{{patient.age}}</b>
            <b><span style="color: red;">SEX : </span>{{patient.sex}}</b>
            <b><span style="color: red; ">WEIGHT : </span>{{patient.weight}}</b>

        </div>

    
        <div class="complain">          <!-- ******************************************************************** -->
            
            <b><span style="color: red; float: left; margin-left: 31px;">COMPLAIN : </span> {{patient.Complain}}</b>
        
        </div>


        <div class="bp">           <!-- ******************************************************************** -->

            <b><span style="color: red; float: left; margin-left: 31px;">BP : </span>{{patient.BP}}</b>
            <b><span style="color: red;">PR : </span>{{patient.PR}}</b>
            <b><span style="color: red;">SPO2 : </span>{{patient.SPO2}}</b>
            <b><span style="color: red;">TEMP : </span>{{patient.Temp}}</b>

        </div>

        <div class = "advice">
            <b><span style="color: red; float: left; margin-left: 31px;">ADVICE : </span> {{patient.Advice}}</b>
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr style="color: red;">
                       
                        <th style="padding-right: 30px;"><b> MEDICINE </b></th>
                        <th style="padding-right: 30px;"><b> DURATION </b></th>
                        <th style="padding-right: 30px;"><b> DAYS </b></th> 
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding-right: 30px;"><b> <span type="text" name="Medicine" > {{ patient.Medicine }} </span> </b></td>
                        <td style="padding-right: 30px;"><b> <span type="text" name="Duration" > {{ patient.Duration }} </span> </b></td>
                        <td style="padding-right: 30px;"><b> <span type="number" name="Days" > {{ patient.Days }} </span> </b></td>
                    </tr>
                </tbody>             
            </table>
        </div>
        <div class="payment">
            <table style="float: left; margin-left: 31px;">
                <thead>
                    <tr style="color: red;">
                        <th style="padding-right: 20px;"> PAYMENT </th>
                        <th style="padding-right: 20px;"> UPI/ONLINE </th>
                        <th style="padding-right: 20px;"> CASH </th>                             
                        <th style="padding-right: 20px;"> TOTAL AMOUNT </th>                             
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="color: red;"><b> <span> PAID AMOUNT </span> </b></td>
                        <td style="padding-right: 20px;"><b> <span> {{ patient.Online_payment }} </span> </b> </td>
                        <td style="padding-right: 20px;"><b> <span> {{ patient.Cash_payment }} </span> </b></td>
                        <td style="padding-right: 20px;"><b> <span> {{ patient.Paid_amount }} </span> </b></td>
                    </tr>
                    
                    <tr>
                        <td style="color: red; padding-right: 20px;"><b> <span> BALANCED AMOUNT </span> </b></td>
                        <td style="padding-right: 20px;"><b> <span> 0 </span> </b></td>
                        <td style="padding-right: 20px;"><b> <span> 0 </span> </b></td>
                        <td style="padding-right: 20px;"><b> <span> {{ patient.Balance_amount }} </span> </b></td>
                    </tr>

                    <tr>
                        <td style="color: red; padding-right: 20px;"><b> <span> TOTAL AMOUNT </span> </b></td>
                        <td style="padding-right: 20px;"><b> <span> {{ patient.Online_payment }} </span> </b></td>
                        <td style="padding-right: 20px;"><b> <span> {{ patient.Cash_payment }} </span> </b></td>
                        <td style="padding-right: 20px;"><b> <span> {{ patient.Total_amount }} </span> </b></td>
                    </tr>
                </tbody>
                <br>
                
            </table>
        </div>
    </div>   
     
</form>    


<div style="position: fixed; bottom: 0; left: 50%; transform: translateX(-50%); text-align: center;">

    <a href="{% url 'home' %}" style = "padding:10px">HOME</a>

<!-- Link to update patient profile -->
    <a href="{% url 'patient_update' id=patient.id %}">Update Profile</a>

</div>

{% comment %} <a href="{% url 'home' %}">HOME</a>

<!-- Link to update patient profile -->
<a href="{% url 'patient_update' id=patient.id %}">Update Profile</a> {% endcomment %}