# Byte-compiled / optimized / dll files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python

.__pycache__
.cache


# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal


.env
.venv
env/
venv/
ENV/